<section>
  <div class="container about-container">
    <div class="under-container">
      <h2 class="about-title">About Us</h2>
      <p class="about-text">
        Welcome to our premium watch collection, where luxury and style meet
        functionality and precision. Our selection of timepieces embodies the
        very best in Swiss craftsmanship and engineering, ensuring that you'll
        always have a reliable and stylish accessory on your wrist.
      </p>
      <p class="about-text-second">
        At our premium watch collection, we believe that a watch is more than
        just a timekeeping device – it's a statement piece that reflects your
        personality and style. So why settle for anything less than the best?
      </p>
      <button class="about-btn" type="button">View catalog</button>
    </div>
    <picture>
      <source srcset="src/img/about/about-watch-desktop-1x.jpeg 1x, src/img/about/about-watch-desktop-2x.jpeg 2x" media="(min-width: 1280px;)">
      <source srcset="src/img/about/about-watch-tab-1x.jpeg 1x, src/img/about/about-watch-tab-2x.jpeg 2x" media="(min-width: 768px;)">
      <source srcset="src/img/about/about-watch-mob-1x.jpeg 1x, src/img/about/about-watch-tab-2x.jpeg 2x" media="(max-width: 767px;)">
    <img class="about-img" src="img/about/about-watch-mob-1x.jpeg" alt="about-watch" />
    </picture>
  </div>
</section>
