<section class="catalog" id="catalog">
  <div class="container">
    <h2 class="catalog-header new-title">Catalog</h2>

    <ul class="catalog-list">
      <li class="catalog-list-item">
        <a class="catalog-list-item-a" href="/garmin-felix">
          <div class="image-container">
            <picture>
              <!-- Desktop screen -->

              <source
                media="(min-width: 1280px)"
                srcset="
                  img/catalog/desktop-images/desk1x1.png 1x,
                  img/catalog/desktop-images/desk1x2.png 2x
                "
                type="image/png"
              />
              <!-- Tablet screen -->

              <source
                media="(min-width: 768px)"
                srcset="
                  img/catalog/tablet-images/tab1x1.png 1x,
                  img/catalog/tablet-images/tab1x2.png 2x
                "
                type="image/png"
              />
              <!-- Mobile screen -->

              <source
                media="(max-width: 767px)"
                srcset="
                  img/catalog/mobile-images/mob1x1.png 1x,
                  img/catalog/mobile-images/mob1x2.png 2x
                "
                type="image/png"
              />

              <img
                src="img/catalog/mobile-images/mob1x1.png"
                alt="first-watch"
              />
            </picture>
          </div>
          <div class="text-container">
            <h3 class="item-header">Garmin Fenix 7X Pro Sapphire Solar</h3>
            <p class="item-text">€500</p>
          </div>
        </a>
      </li>

      <li class="catalog-list-item">
        <a class="catalog-list-item-a" href="/garmin-marq">
          <div class="image-container">
            <picture>
              <!-- Desktop screen -->

              <source
                media="(min-width: 1280px)"
                srcset="
                  img/catalog/desktop-images/desk2x1.png 1x,
                  img/catalog/desktop-images/desk2x2.png 2x
                "
                type="image/png"
              />
              <!-- Tablet screen -->

              <source
                media="(min-width: 768px)"
                srcset="
                  img/catalog/tablet-images/tab2x1.png 1x,
                  img/catalog/tablet-images/tab2x2.png 2x
                "
                type="image/png"
              />
              <!-- Mobile screen -->

              <source
                media="(max-width: 767px)"
                srcset="
                  img/catalog/mobile-images/mob2x1.png 1x,
                  img/catalog/mobile-images/mob2x2.png 2x
                "
                type="image/png"
              />

              <img
                src="img/catalog/mobile-images/mob2x1.png"
                alt="second-watch"
              />
            </picture>
          </div>
          <div class="text-container">
            <h3 class="item-header">Garmin Marq Athlete</h3>
            <p class="item-text">€450</p>
          </div>
        </a>
      </li>

      <li class="catalog-list-item">
        <a class="catalog-list-item-a" href="/garmin-descent">
          <div class="image-container">
            <picture>
              <!-- Desktop screen -->

              <source
                media="(min-width: 1280px)"
                srcset="
                  img/catalog/desktop-images/desk3x1.png 1x,
                  img/catalog/desktop-images/desk3x2.png 2x
                "
                type="image/png"
              />
              <!-- Tablet screen -->

              <source
                media="(min-width: 768px)"
                srcset="
                  img/catalog/tablet-images/tab3x1.png 1x,
                  img/catalog/tablet-images/tab3x2.png 2x
                "
                type="image/png"
              />
              <!-- Mobile screen -->

              <source
                media="(max-width: 767px)"
                srcset="
                  img/catalog/mobile-images/mob3x1.png 1x,
                  img/catalog/mobile-images/mob3x2.png 2x
                "
                type="image/png"
              />

              <img
                src="img/catalog/mobile-images/mob3x1.png"
                alt="third-watch"
              />
            </picture>
          </div>
          <div class="text-container">
            <h3 class="item-header">Garmin Descent MK1</h3>
            <p class="item-text">€680</p>
          </div>
        </a>
      </li>
      <li class="catalog-list-item">
        <a class="catalog-list-item-a" href="/garmin-delta">
          <div class="image-container">
            <picture>
              <!-- Desktop screen -->

              <source
                media="(min-width: 1280px)"
                srcset="
                  img/catalog/desktop-images/desk4x1.png 1x,
                  img/catalog/desktop-images/desk4x2.png 2x
                "
                type="image/png"
              />
              <!-- Tablet screen -->

              <source
                media="(min-width: 768px)"
                srcset="
                  img/catalog/tablet-images/tab4x1.png 1x,
                  img/catalog/tablet-images/tab4x2.png 2x
                "
                type="image/png"
              />
              <!-- Mobile screen -->

              <source
                media="(max-width: 767px)"
                srcset="
                  img/catalog/mobile-images/mob4x1.png 1x,
                  img/catalog/mobile-images/mob4x2.png 2x
                "
                type="image/png"
              />

              <img
                src="img/catalog/mobile-images/mob4x1.png"
                alt="fourth-watch"
              />
            </picture>
          </div>
          <div class="text-container">
            <h3 class="item-header">Garmin D2 Delta PX</h3>
            <p class="item-text">€380</p>
          </div>
        </a>
      </li>

      <li class="catalog-list-item hidden">
        <a class="catalog-list-item-a" href="/garmin-felix-pro">
          <div class="image-container">
            <picture>
              <!-- Desktop screen -->

              <source
                media="(min-width: 1280px)"
                srcset="
                  img/catalog/desktop-images/desk5x1.png 1x,
                  img/catalog/desktop-images/desk5x2.png 2x
                "
                type="image/png"
              />
              <!-- Tablet screen -->

              <source
                media="(min-width: 768px)"
                srcset="
                  img/catalog/tablet-images/tab5x1.png 1x,
                  img/catalog/tablet-images/tab5x2.png 2x
                "
                type="image/png"
              />

              <img
                src="img/catalog/tablet-images/tab5x1.png"
                alt="fourth-watch"
              />
            </picture>
          </div>
          <div class="text-container">
            <h3 class="item-header">Garmin Fenix 6 Pro Solar</h3>
            <p class="item-text">€400</p>
          </div>
        </a>
      </li>

      <li class="catalog-list-item hidden">
        <a class="catalog-list-item-a" href="/tube-watch">
          <div class="image-container">
            <picture>
              <!-- Desktop screen -->

              <source
                media="(min-width: 1280px)"
                srcset="
                  img/catalog/desktop-images/desk6x1.png 1x,
                  img/catalog/desktop-images/desk6x2.png 2x
                "
                type="image/png"
              />
              <!-- Tablet screen -->

              <source
                media="(min-width: 768px)"
                srcset="
                  img/catalog/tablet-images/tab6x1.png 1x,
                  img/catalog/tablet-images/tab6x2.png 2x
                "
                type="image/png"
              />

              <img
                src="img/catalog/tablet-images/tab6x1.png"
                alt="fourth-watch"
              />
            </picture>
          </div>
          <div class="text-container">
            <h3 class="item-header">
              Tube Watch S42 Date Steel With Black Case
            </h3>
            <p class="item-text">€395</p>
          </div>
        </a>
      </li>
    </ul>
    <button class="catalog-btn blue-button" type="button">Show more</button>
  </div>
</section>
