<section id="contact-us">
  <div class="container contact-section">
    <h2 class="contact-titel">Contact Us</h2>
    <div class="contact-flex">
      <div class="form-window">
        <p class="form-subtitel">
          Please use the form below to contact us. Enter your name, email,
          phone, and message and we'll get back to you shortly.
        </p>
        <form
          name="cunstomers-contacts"
          autocomplete="off"
          novalidate
          class="form"
        >
          <label for="user-name" class="form-input-wrap">
            <input
              class="form-input"
              type="text"
              name="user-name"
              id="user-name"
              placeholder="Name"
              minlength="2"
              required
            />
          </label>

          <label for="user-email" class="form-input-wrap">
            <input
              class="form-input"
              type="email"
              name="user-email"
              id="user-email"
              pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
              placeholder="Email"
              required
            />
          </label>

          <label for="user-tel" class="form-input-wrap">
            <input class="form-input" type="tel" name="user-tel" id="user-tel"
            pattern="^\+\d{3}-\d{2}-\d{3}-\d{2}-\d{2}$" (+380-XX-XXX-XX-XX)"
            placeholder="+380" required />
          </label>
          <label for="" class="forn-input-wrap">
            <textarea class="form-comment" name="user-comment">
Comment </textarea
            >
          </label>
          <button class="submit-btn blue-button animate-me" type="submit">
            Send
          </button>
        </form>
      </div>
      <picture class="img-contact">
        <source
          srcset="
            img/contact/contact-pic.jpg    1x,
            img/contact/contact-pic-2x.jpg 2x
          "
          media="(min-width:1280px)"
        />
        <source
          srcset="
            img/contact/contact-pic-tab.jpg    1x,
            img/contact/contact-pic-tab-2x.jpg 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            img/contact/contact-pic-mob.jpg    1x,
            img/contact/contact-pic-mob-2x.jpg 2x
          "
          media="(max-width:767px)"
        />
        <img src="img/contact/contact-pic-mob.jpg" alt="Black Watch" />
      </picture>
    </div>
  </div>
</section>
