<section id="contact-us" class="contact-section">
  <div class="container">
    <h2 class="new-title contact-title">Contact Us</h2>
    <div class="contact-flex">
      <div class="form-window">
        <p class="form-subtitle granny-p">
          Please use the form below to contact us. Enter your name, email,
          phone, and message and we'll get back to you shortly.
        </p>
        <form name="cunstomers-contacts" autocomplete="off" class="form">
          <div class="div-input">
            <label for="user-name" class="form-input-wrap">
              <input
                class="form-input animate-me"
                type="text"
                name="user-name"
                id="user-name"
                placeholder="Name"
                minlength="3"
                required
              />
              <div class="valid-indicator animate-me"></div>
            </label>
          </div>
          <div class="div-input">
            <label for="user-email" class="form-input-wrap">
              <input
                class="form-input animate-me"
                type="email"
                name="user-email"
                id="user-email"
                pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
                placeholder="Email"
                required
                minlength="3"
              />
              <div class="valid-indicator animate-me"></div>
            </label>
          </div>
          <div class="div-input">
            <label for="user-tel" class="form-input-wrap">
              <input
                class="form-input animate-me"
                type="tel"
                name="user-tel"
                id="user-tel"
                pattern="^\+\d{3}-\d{2}-\d{3}-\d{2}-\d{2}$"
                placeholder="+380"
                required
                minlength="3"
              />
              <div class="valid-indicator animate-me"></div>
            </label>
          </div>
          <div class="div-comment">
            <label for="user-comment" class="form-input-wrap">
              <textarea
                class="form-comment animate-me"
                name="user-comment"
                id="user-comment"
                placeholder="Comment"
              ></textarea>
            </label>
          </div>
          <button class="submit-btn blue-button animate-me" type="submit">
            Send
          </button>
        </form>
      </div>
      <picture class="img-contact">
        <source
          srcset="
            img/contact/contact-pic.jpg    1x,
            img/contact/contact-pic-2x.jpg 2x
          "
          media="(min-width:1280px)"
        />
        <source
          srcset="
            img/contact/contact-pic-tab.jpg    1x,
            img/contact/contact-pic-tab-2x.jpg 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            img/contact/contact-pic-mob.jpg    1x,
            img/contact/contact-pic-mob-2x.jpg 2x
          "
          media="(max-width:767px)"
        />
        <img src="img/contact/contact-pic-mob.jpg" alt="Black Watch" />
      </picture>
    </div>
  </div>
</section>
