<footer class="footer">
  <div class="container">
    <div class="footer-div">
      <div class="footer-soc-content">
        <div class="footer-soc-icons">
          <h2 class="footer-h"><a href="">watchcharm</a></h2>
          <ul class="footer-icons">
            <li>
              <a
                class="animate-me soc-icon"
                href="https://www.facebook.com/goITclub/"
                target="_blank"
              >
                <svg width="18" height="18">
                  <use href="img/icons.svg#icon-facebook-icon"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                class="animate-me soc-icon"
                href="https://www.instagram.com/goitclub/"
                target="_blank"
              >
                <svg width="18" height="18">
                  <use href="img/icons.svg#icon-instagram-icon"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                class="animate-me soc-icon"
                href="https://www.youtube.com/c/GoIT"
                target="_blank"
              >
                <svg width="18" height="18">
                  <use href="img/icons.svg#icon-youtube-icon"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <a class="footer-number animate-me" href="tel:+380684439426"
          >+380 (68) 443-94-26</a
        >
      </div>
      <div class="footer-title">
        <p class="footer-title-text">
          Have the time of your life with our watches: where high-class
          craftsmanship meets impeccable design
        </p>
      </div>

      <div class="footer-nav">
        <ul class="footer-nav-ul">
          <li>
            <ul class="footer-subnav">
              <li>
                <a
                  class="footer-subnav-a footer-hovers animate-me"
                  href="#header"
                  >Home</a
                >
              </li>
              <li>
                <a
                  class="footer-subnav-a footer-hovers animate-me"
                  href="#about"
                  >About Us</a
                >
              </li>
              <li>
                <a
                  class="footer-subnav-a footer-hovers animate-me"
                  href="#catalog"
                  >Catalog</a
                >
              </li>
              <li>
                <a class="footer-subnav-a footer-hovers animate-me" href="#sale"
                  >Sale</a
                >
              </li>
              <li>
                <a
                  class="footer-subnav-a footer-hovers animate-me"
                  href="#reviews"
                  >Reviews</a
                >
              </li>
              <li>
                <a
                  class="footer-subnav-a footer-hovers animate-me"
                  href="#contact-us"
                  >Contact Us</a
                >
              </li>
            </ul>
          </li>
          <li class="footer-address">
            <a
              class="footer-address-a footer-hovers-under animate-me"
              href="https://maps.google.com"
              target="_blank"
              >1678 S. Pioneer Road Salt Lake City UT 84104</a
            >
          </li>
        </ul>
      </div>
      <div class="footer-under-content">
        <p class="footer-under-content-text">
          ©2023 The Watch Spot. All rights reserved.
        </p>
        <ul class="footer-under-content-ul">
          <li>
            <a
              class="footer-under-content-text footer-hovers-under animate-me"
              href="/terms-of-service.html"
              >Terms of Service</a
            >
          </li>
          <li>
            <a
              class="footer-under-content-text footer-hovers-under animate-me"
              href="/privacy-policy.html"
              >Privacy Policy</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
