<section class="hero">
  <div class="container">
    <div class="hero-text-people">
      <div class="hero-text-cont">
        <h1 class="hero-title">
          Welcome to our <span class="accent">collection</span> of premium
          watches
        </h1>
        <p class="hero-text granny-p">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <div class="hero-wrap">
        <div class="hero-circles">
          <div class="hero-circle people-one">
            <picture>
              <source
                srcset="
                  ./img/hero/people-one.png    1x,
                  ./img/hero/people-one-2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/hero/people-one.png    1x,
                  ./img/hero/people-one-2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/hero/people-one.png    1x,
                  ./img/hero/people-one-2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./img/hero/people-one.png"
                alt="people-hero"
                class="hero-image"
              />
            </picture>
          </div>
          <div class="hero-circle people-two">
            <picture>
              <source
                srcset="
                  ./img/hero/people-two.png    1x,
                  ./img/hero/people-two-2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/hero/people-two.png    1x,
                  ./img/hero/people-two-2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/hero/people-two.png    1x,
                  ./img/hero/people-two-2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./img/hero/people-two.png"
                alt="people-hero"
                class="hero-image"
              />
            </picture>
          </div>
          <div class="hero-circle people-tree">
            <picture>
              <source
                srcset="
                  ./img/hero/people-tree.png    1x,
                  ./img/hero/people-tree-2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/hero/people-tree.png    1x,
                  ./img/hero/people-tree-2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/hero/people-tree.png    1x,
                  ./img/hero/people-tree-2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./img/hero/people-tree.png"
                alt="people-hero"
                class="hero-image"
              />
            </picture>
          </div>
        </div>

        <a href="#About" class="hero-scroll animate-me">Scroll down</a>
      </div>
    </div>
    <picture>
      <source
        srcset="./img/hero/watch-desk.jpg 1x, ./img/hero/watch-desk-2x.jpg 2x"
        media="(min-width: 1280px)"
      />
      <source
        srcset="./img/hero/watch-tab.jpg 1x, ./img/hero/watch-tab-2x.jpg 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="./img/hero/watch-mob.jpg 1x, ./img/hero/watch-mob-2x.jpg 2x"
        media="(max-width: 767px)"
      />
      <img
        src="../img/hero/watch-desk.jpg"
        alt="watch-hero"
        width="1150"
        height="500"
        class="hero-image-watch"
      />
    </picture>
  </div>
</section>
