<section id="reviews" class="reviews-section">
  <div class="container">
    <h2 class="reviews-heading new-title">Reviews</h2>
    <ul class="reviews-list">
      <li class="reviews-list-item">
        <div class="reviews-image-container">
          <img
            srcset="img/reviews/3-min.png 1x, img/reviews/3-2x-min.png 2x"
            src="img/reviews/3-min.png"
            alt="John Wax"
            width="56"
            height="56"
            class="reviews-image"
          />
        </div>
        <h3 class="reviews-list-name">John Wax</h3>
        <p class="reviews-list-paragraph granny-p">
          Buying a watch from was the best choice for me. The design is
          perfectly combined with high quality materials. The strap fits nicely
          on the hand, and the mechanism works flawlessly.
        </p>
      </li>
      <li class="reviews-list-item second-review">
        <div class="reviews-image-container">
          <img
            srcset="img/reviews/2-min.png 1x, img/reviews/2-2x-min.png 2x"
            src="img/reviews/2-min.png"
            alt="Victoria Romashenko"
            width="56"
            height="56"
            class="reviews-image"
          />
        </div>
        <h3 class="reviews-list-name">Victoria Romashenko</h3>
        <p class="reviews-list-paragraph granny-p">
          Can't take my eyes off my watch from. Every time I put it on, it is
          admired by those around me. The build quality and attention to detail
          make it a real gem among my accessories.
        </p>
      </li>
      <li class="reviews-list-item third-review">
        <div class="reviews-image-container">
          <img
            srcset="img/reviews/1-min.png 1x, img/reviews/1-2x-min.png 2x"
            src="img/reviews/1-min.png"
            alt="Anastasia Trachuk"
            width="56"
            height="56"
            class="reviews-image"
          />
        </div>
        <h3 class="reviews-list-name">Anastasia Trachuk</h3>
        <p class="reviews-list-paragraph granny-p">
          My watch from is a real masterpiece. Every detail impresses with the
          high quality of execution. Special features like [specify features]
          make it an indispensable companion in my daily life.
        </p>
      </li>
    </ul>
  </div>
</section>
