<section id="reviews" class="reviews-section">
  <div class="container">
    <h2 class="reviews-heading">Reviews</h2>
  <ul class="reviews-list">
    <li class="reviews-list-item">
      <div class="reviews-item-container">      
        <img
        srcset="img/reviews/Ellipse-22-min.jpg 1x,
        img/reviews/Ellipse-22-2x-min.jpg 2x"
        src="img/reviews/Ellipse-22-min.jpg" alt="John Wax" width="56" height="56" class="reviews-image">
        <h3 class="reviews-list-name">John Wax</h3>
        <p class="reviews-list-paragraph">
          Buying a watch from was the best choice for me. The design is perfectly combined with high quality materials. The strap
          fits nicely on the hand, and the mechanism works flawlessly.
        </p>
      </div>
      </li>
    <li class="reviews-list-item second-review">
      <div class="reviews-item-container">
          <img 
          srcset="img/reviews/Ellipse-21-min.jpg 1x,
        img/reviews/Ellipse-21-2x-min.jpg 2x"
          src="img/reviews/Ellipse-21-min.jpg" alt="Victoria Romashenko" width="56" height="56" class="reviews-image">
          <h3 class="reviews-list-name">Victoria Romashenko</h3>
          <p class="reviews-list-paragraph">
          Can't take my eyes off my watch from. Every time I put it on, it is admired by those around me. The build quality and
          attention to detail make it a real gem among my accessories.
          </p>
      </div>
        </li>
      <li class="reviews-list-item third-review">
        <div class="reviews-item-container">          
            <img 
            srcset="img/reviews/Ellipse-23-min.jpg 1x,
        img/reviews/Ellipse-23-2x-min.jpg 2x"
            src="img/reviews/Ellipse-23-min.jpg" alt="Anastasia Trachuk" width="56" height="56" class="reviews-image">
            <h3 class="reviews-list-name">Anastasia Trachuk</h3>
            <p class="reviews-list-paragraph">
            My watch from is a real masterpiece. Every detail impresses with the high quality of execution. Special features like
            [specify features] make it an indispensable companion in my daily life.
            </p>
          </div>
          </li>
        </div>
  </ul>
</section>
