<section>
  <div class="container"></div>
  <section>
    <div class="container">
      <div class="container-sale">
        <h2 class="new-title">Sale</h2>
        <ul class="container-list-clock">
          <li class="list-clock">
            <div class="content">
              <img
                srcset="
                  img/sale/stealth.mob.png     1x,
                  img/sale/stealth.mob.@2x.png 2x
                "
                width="52"
                height="54"
              />
            </div>
          </li>
          <li class="list-clock">
            <div class="content">
              <img
                srcset="
                  img/sale/excellent-clock.mob.png     1x,
                  img/sale/excellent-clock.mob.@2x.png 2x
                "
                width="52"
                height="54"
              />
            </div>
          </li>
          <li class="list-clock">
            <div class="content">
              <img
                srcset="
                  img/sale/stealth-profile.mob.png     1x,
                  img/sale/stealth-profile.mob.@2x.png 2x
                "
                width="52"
                height="54"
              />
            </div>
          </li>
          <li class="list-clock">
            <div class="content">
              <img
                srcset="
                  img/sale/excellent-clock-revier.mob.png     1x,
                  img/sale/excellent-clock-revier.mob.@2x.png 2x
                "
                width="52"
                height="54"
              />
            </div>
          </li>
        </ul>
        <div class="clock-present">
          <img
            srcset="img/sale/marq.mob.png 1x, src/img/sale/marq.mob.@2x.png 2x"
            width="235"
            height="285"
          />
        </div>
        <section class="aside">
          <div class="box-content">
            <h2 class="aside-content">
              MARQ® Commander (Gen 2) - Carbon Edition
            </h2>
            <p class="product-tag">Product tag: 706587</p>
          </div>
          <section class="prise-present-sale">
            <div class="prise-sale">€1500</div>
            <div class="prise">€3000</div>
          </section>
          <p class="granny-p">
            The Garmin MARQ Commander Gen 2 Carbon Edition is a modern
            smartwatch for adventurers that takes materials and features to the
            next level. The body of the watch is made of very durable Fused
            Carbon Fiber material and has a precise AMOLED touch screen. The
            sensitive touch screen is complemented by buttons that can be used
            in any conditions.
          </p>
          <ul class="present-functional">
            <li class="functional-1">Fused carbon fiber</li>
            <li class="functional-2">Grade-5 Titanuim</li>
            <li class="functional-3">Athlete</li>
            <li class="functional-4">Golfer</li>
            <li class="functional-5">Commander</li>
            <li class="functional-6">Adventurer</li>
          </ul>
        </section>
      </div>
    </div>
  </section>
</section>
