<section>
  <div class="container">
    <h2 class="new-title sale">Sale</h2>
    <ul class="container-list-clock">
      <li class="list-clock">
        <div class="content">
          <img
            srcset="
              img/sale/stealth-mob.png     1x,
              img/sale/stealth-mob.@2x.png 2x
            "
            width="52"
            height="54"
          />
        </div>
      </li>
      <li class="list-clock">
        <div class="content">
          <img
            srcset="
              img/sale/excellent-clock-mob.png     1x,
              img/sale/excellent-clock-mob.@2x.png 2x
            "
            width="52"
            height="54"
          />
        </div>
      </li>
      <li class="list-clock">
        <div class="content">
          <img
            srcset="
              img/sale/stealth-profile-mob.png     1x,
              img/sale/stealth-profile-mob.@2x.png 2x
            "
            width="52"
            height="54"
          />
        </div>
      </li>
      <li class="list-clock">
        <div class="content">
          <img
            srcset="
              img/sale/excellent-clock-revier-mob.png     1x,
              img/sale/excellent-clock-revier-mob.@2x.png 2x
            "
            width="52"
            height="54"
          />
        </div>
      </li>
    </ul>
    <div class="clock-present">
      <img
        srcset="img/sale/marq-mob.png 1x, img/sale/marq-mob.@2x.png 2x"
        width="235"
        height="285"
      />
    </div>
    <div class="aside">
      <div class="box-content">
        <h2 class="aside-content">MARQ® Commander (Gen 2) - Carbon Edition</h2>
        <p class="product-tag">Product tag: 706587</p>
      </div>
      <div class="prise-present-sale">
        <div class="prise-sale">€1500</div>
        <div class="prise">€3000</div>
      </div>
      <p class="present granny-p">
        The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
        for adventurers that takes materials and features to the next level. The
        body of the watch is made of very durable Fused Carbon Fiber material
        and has a precise AMOLED touch screen. The sensitive touch screen is
        complemented by buttons that can be used in any conditions.
      </p>
      <ul class="present-functional">
        <li><p class="functional-1">Fused carbon fiber</p></li>
        <li><p class="functional-2">Grade-5 Titanuim</p></li>
        <li><p class="functional-3">Athlete</p></li>
        <li><p class="functional-4">Golfer</p></li>
        <li><p class="functional-5">Commander</p></li>
        <li><p class="functional-6">Adventurer</p></li>
      </ul>
    </div>
  </div>
</section>
