<section id="sale" class="sale-section">
  <div class="container">
    <h2 class="new-title sale">Sale</h2>
    <div class="all-cards">
      <div class="card-list">
        <ul class="container-list-clock">
          <li class="list-clock">
            <picture>
              <source
                srcset="
                  img/sale/card111-dack.png    1x,
                  img/sale/card111-dack@2x.png 2x
                "
                media="(min-width:1280px)"
              />
              <source
                srcset="
                  img/sale/card11-tab.png    1x,
                  img/sale/card11-tab@2x.png 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="img/sale/card-mob.png 1x, img/sale/card-mob@2x.png 2x"
                media="(max-width:767px)"
              />
              <img src="img/sale/card-mob.png" alt="mob-clock" />
            </picture>
          </li>
          <li class="list-clock">
            <picture>
              <source
                srcset="
                  img/sale/card222-dack.png    1x,
                  img/sale/card222-dack@2x.png 2x
                "
                media="(min-width:1280px)"
              />
              <source
                srcset="
                  img/sale/card22-tab.png   1x,
                  img/sale/card22-tab2x.png 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="img/sale/card2-mob.png 1x, img/sale/card2-mob@2x.png 2x"
                media="(max-width:767px)"
              />
              <img src="img/sale/card2-mob.png" alt="mob-clock" />
            </picture>
          </li>
          <li class="list-clock">
            <picture>
              <source
                srcset="
                  img/sale/card333-dack.png    1x,
                  img/sale/card333-dack@2x.png 2x
                "
                media="(min-width:1280px)"
              />
              <source
                srcset="
                  img/sale/card33-tab.png    1x,
                  img/sale/card33-tab@2x.png 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="img/sale/card3-mob.png 1x, img/sale/card3-mob@2x.png 2x"
                media="(max-width:767px)"
              />
              <img src="img/sale/card3-mob.png" alt="mob-clock" />
            </picture>
          </li>
          <li class="list-clock">
            <picture>
              <source
                srcset="
                  img/sale/card444-dack.png    1x,
                  img/sale/card444-dack@2x.png 2x
                "
                media="(min-width:1280px)"
              />
              <source
                srcset="
                  img/sale/card44-tab.png    1x,
                  img/sale/card44-tab@2x.png 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="img/sale/card4-mob.png 1x, img/sale/card4-mob@2x.png 2x"
                media="(max-width:767px)"
              />
              <img src="img/sale/card4-mob.png" alt="mob-clock" />
            </picture>
          </li>
        </ul>
        <div class="clock-present">
          <picture>
            <source
              srcset="
                img/sale/card555-dack.png    1x,
                img/sale/card555-dack@2x.png 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="img/sale/card55-tab.png 1x, img/sale/card55-tab@2x.png 2x"
              media="(min-width:768px)"
            />
            <source
              srcset="img/sale/card5-mob.png 1x, img/sale/card5-mob@2x.png 2x"
              media="(max-width:767px)"
            />
            <img src="img/sale/card5-mob.png" alt="mob-clock" />
          </picture>
        </div>
      </div>
      <div class="aside">
        <div class="box-content">
          <h3 class="aside-content">
            MARQ® Commander (Gen 2) - Carbon Edition
          </h3>
          <p class="product-tag">Product tag: 706587</p>
        </div>
        <div class="prise-present-sale">
          <div class="prise-sale"><p class="price-first-p">€1500</p></div>
          <div class="prise"><p class="price-second-p">€3000</p></div>
        </div>
        <p class="present granny-p">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <ul class="present-functional">
          <li><p class="functional-tag">Fused carbon fiber</p></li>
          <li><p class="functional-tag">Grade-5 Titanuim</p></li>
          <li><p class="functional-tag">Athlete</p></li>
          <li><p class="functional-tag">Golfer</p></li>
          <li><p class="functional-tag">Commander</p></li>
          <li><p class="functional-tag">Adventurer</p></li>
        </ul>
      </div>
    </div>
  </div>
</section>
