.section {
    border-radius: 30px;
    background: #0c0c0c;
    background-image:
    url(../img/advertisement/image70-mob-1.png);
    background-size: cover;
    margin: 60px 20px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 28px;
}

@media screen and (min-resolution: 2dppx),
(min-resolution: 192dpi) {
    .section {
    background-image:
    url(../img/advertisement/image70-mob-2x.png);
    }
}

.section-text {
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.span {
    color: rgba(251, 251, 251, 0.5);
}
.section-btn {
    border: 1px solid rgba(251, 251, 251, 0.15);
    border-radius: 16px;
    width: 160px;
    height: 48px;    
    margin-top: 28px;
    color: #fbfbfb;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-btn:hover {
    background-color: #fbfbfb;
}
.section-btn:focus {
    background-color: #fbfbfb;
}

.btn-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    text-align: center;
}

.btn-text:hover,
.btn-text:focus {
    color: #0c0c0c;
}


@media screen and (min-width: 768px) {
    .section {
    padding-left: 32px;
    background-image:
    url(../img/advertisement/image70-tab-1.png);
    }

    .section-text {
    font-size: 48px;
    line-height: 92%;
    max-width: 576px;
    }
    .section-btn {
    
    }
@media screen and (min-resolution: 2dppx),
(min-resolution: 192dpi) {
    .section {
    background-image:
    url(../img/advertisement/image70-tab-2x.png);
        }
}
}

@media screen and (min-width: 1280px) {
    .section {
    background-image:
    url(../img/advertisement/image70-desk-1.png);
    padding-left: 80px;
    display: flex;
    gap: 80px;
    }

.section-text {
max-width: 690px;
}


@media screen and (min-resolution: 2dppx),
(min-resolution: 192dpi) {
.section {
    background-image:
    url(../img/advertisement/image70-desk-2x.png);
}
}
}