.catalog {
  margin-bottom: 60px;
}

.catalog-header {
  margin-bottom: 24px;
}

.catalog-list-item-a {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.image-container {
  margin: 0 auto;
}

.text-container {
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.catalog-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}
.catalog-list-item {
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  background: #f3f3f3;
  padding: 24px 28px;
}
.item-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  margin-bottom: 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.5);
}
.hidden {
  display: none;
}
.catalog-btn {
  padding: 15px 44px;
  margin: 0 auto;
  display: block;
}

@media (min-width: 768px) {
  .catalog-header {
    margin-bottom: 40px;
  }

  .catalog-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px 16px;
    margin-bottom: 0;
  }

  .catalog-list-item {
    width: calc((100% - 16px) / 2);
    padding-top: 34px;
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 24px;
  }
  .catalog-btn {
    display: none;
  }

  .hidden {
    display: flex;
  }

  .item-header {
    font-weight: 500;
    font-size: 20px;
    max-width: 280px;
  }
  .item-text {
    font-weight: 400;
    font-size: 14px;
  }

  .catalog {
    margin-bottom: 80px;
  }
}

@media (min-width: 1280px) {
  .catalog-list {
    gap: 32px 23px;
  }

  .catalog-list-item {
    width: calc((100% - 46px) / 3);
  }
  .item-header {
    max-width: 304px;
  }
  .catalog {
    margin-bottom: 100px;
  }
}
