footer .container {
  padding-bottom: 20px;
  position: relative;
}

.footer-div {
  border-radius: 30px;
  background: #0c0c0c;
  padding: 40px 28px 28px 28px;
}

.footer-div h2 {
  margin-bottom: 20px;
  color: #fbfbfb;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

.footer-icons {
  display: flex;
  margin-bottom: 20px;

  gap: 10px;
}

.footer-icons li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  fill: rgba(251, 251, 251, 1);
  border-radius: 10px;
  border: 1px solid rgba(251, 251, 251, 0.1);
  transition: border-color cubic-bezier(0.45, 0.05, 0.55, 0.95) 250ms,
    opacity cubic-bezier(0.45, 0.05, 0.55, 0.95) 250ms;
  opacity: 0.8;
}

.footer-number {
  display: inline-block;
  padding: 14px 20px;
  border-radius: 10px;
  border: 1px solid rgba(251, 251, 251, 0.1);
  color: #fbfbfb;
  font-size: 12px;
  line-height: 16px; /* 133.333% */
  margin-bottom: 40px;
  font-weight: 500;
}

.footer-title {
  color: #fbfbfb;

  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px; /* 120% */
  letter-spacing: -0.04px;
  margin-bottom: 92px;
  display: flex;
  justify-content: center;
}

.footer-nav {
  position: relative;
  color: #fbfbfb;
  text-align: center;
  font-size: 12px;
  font-style: normal;

  line-height: 16px; /* 133.333% */
  margin-bottom: 48px;
}

.footer-nav::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background-color: rgba(251, 251, 251, 0.1);

  bottom: -24px;
  left: 0;
}

.footer-nav-ul {
  display: flex;
  justify-content: space-between;
  color: #fbfbfb;

  font-size: 12px;
  font-weight: 500;

  line-height: 16px; /* 133.333% */
}

.footer-subnav {
  text-align: start;
  max-width: 147px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px 16px;
}

.footer-address {
  max-width: 83px;
  text-align: start;
}

.footer-under-content {
  color: rgba(251, 251, 251, 0.5);
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: -0.2px;
  max-width: 187px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-under-content ul {
  display: flex;
  gap: 20px;
}

@media (min-width: 768px) {
  footer .container {
    padding-bottom: 32px;
  }

  .footer-nav {
    margin-bottom: 56px;
  }

  .footer-number {
    font-size: 14px;
    line-height: 18px;
    padding: 15px;
    margin-bottom: 0;
  }

  .footer-soc-content {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 86px;
  }

  .footer-subnav {
    flex-wrap: nowrap;
    gap: 19px;
    max-width: 100%;
  }

  .footer-title {
    margin-bottom: 100px;
  }

  .footer-title p {
    font-size: 28px;
    letter-spacing: -0.56px;
    line-height: 32px;
    max-width: 524px;
  }

  .footer-address {
    max-width: 162px;
  }

  .footer-under-content {
    max-width: 100%;
    flex-direction: row;
    justify-content: space-between;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.28px;
    font-size: 14px;
  }

  .footer-icons {
    margin-bottom: 0;
  }

  .footer-div h2 {
    font-size: 20px;

    letter-spacing: -0.4px;
  }

  .footer-nav-ul {
    line-height: 16px;
    font-size: 14px;
  }

  .footer-subnav li a {
    padding: 15px 0;
  }
}
@media (min-width: 1280px) {
  .footer-title {
    position: absolute;
    top: 40px;
    left: 50%;
    margin-bottom: 0;
    transform: translate(-50%);
  }

  .footer-soc-content {
    margin-bottom: 126px;
  }

  .footer-icons li a:hover,
  .footer-icons li a:focus {
    border-color: #fbfbfb;
    opacity: 1;
  }

  .footer-subnav {
    gap: 40px;
  }
}
