.header::after {
  display: flex;
  flex-direction: column;
  content: '';
  width: 100%;
  height: 1px;
  background-color: rgba(12, 12, 12, 0.1);
}

.header-menu-icon {
  fill: none;
  stroke: black;
}

.header-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-menu-btn {
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
}

.header-logo {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

.header-nav-list {
  display: flex;
  gap: 40px;
}

.header-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  line-height: 1.28571;
  text-align: center;
  color: #0c0c0c;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current {
  position: relative;
}

.header-nav-link.current:after {
  content: '';
  position: absolute;
  top: 20px;
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #3350e9;
}

.header-social-list {
  display: flex;
  gap: 10px;
}

.header-social-link {
  border: 1px solid rgba(12, 12, 12, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 250ms;
}

.header-social-icon {
  fill: #0c0c0c;
  transition: fill 250ms;
}

.header-social-link:hover {
  border: 1px solid rgba(51, 80, 233, 0.1);
  transition: fill 250ms;
}

.header-social-link:hover .header-social-icon {
  fill: #3350e9;
}

@media screen and (min-width: 1280px) {
  .visually-hidden-for-burger {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

@media screen and (max-width: 1280px) {
  .visually-hidden-for-header-desktop-nav {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

/* Menu sidebar */
.menu-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 40px;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  opacity: 0;
  pointer-events: none;
  transition: 350ms;
  background-image: url('../img/header/header-menu-phone.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: translateY(-100%);
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .menu-sidebar {
    background-image: url('../img/header/header-menu-phone2x.png');
  }
}

.is-open {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.menu-close-icon {
  fill: none;
  stroke: rgb(255, 255, 255);
}

.menu-close-btn {
  background-color: transparent;
  border: none;
  width: 34px;
  align-self: flex-end;
  padding: 0;
}

.menu-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  line-height: 1.28571;
  text-align: center;
  color: #fbfbfb;
}

.menu-nav-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.menu-social-icon {
  fill: #fbfbfb;
  stroke: rgb(255, 255, 255);
}

.menu-social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.menu-social-link {
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .menu-sidebar {
    width: 330px;
    background-image: url('../img/header/header-tab-phone.png');
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .menu-sidebar {
      background-image: url('../img/header/header-tab-phone2x.png');
    }
  }
}
