.hero {
  padding-top: 30px;
  padding-bottom: 30px;
}

.hero-title {
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 0.9;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    /* width: 335px; */
    max-width: 557px;
    height: 114px;
    margin-bottom: 20px;
}

.accent {
  color: #3350e9;
}

.hero-text {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
    margin-bottom: 28px;
    width: 335px;
    height: 72px;
}
.hero-wrap{
  display: flex;
  align-items:baseline;
  justify-content: space-between;
  margin-bottom: 28px;
}

.hero-image {
}

.hero-btn-scroll {
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #0c0c0c;
}

.hero-image-watch{
  border-radius: 30px;
    /* width: 335px; */
    width: 100%;
    background: rgba(12, 12, 12, 0.2);
}

@media screen and (min-width: 768px) {
    .hero{
    padding: 40px;
    } 
    .hero-text-people{
      display: flex;
    }

    .hero-title{
        font-size: 70px;
        line-height: 0.8;
        min-width: 557px;
        height: auto;
    }

      .hero-text{
          width: 480px;
          font-size: 16px;
          line-height: 1.25;
      }

      .hero-wrap{
        flex-direction: column;
        /* justify-content: space-between; */
        align-items: end;
      }
}

@media screen and (min-width: 1180px) {
  .hero{
    padding-top: 40px;
    padding-bottom: 50px;
  }
    .hero-title {
      font-size: 72px;
      line-height: 0.9;
      min-width: 597px;
    }

    .hero-text-people{
      justify-content: space-between;
    }
}
