/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./catalog.css');
@import url('./advertisement.css');
@import url('./sale.css');
@import url('./reviews.css');
@import url('./contact.css');
@import url('./footer.css');

body {
  font-family: 'Gilroy', sans-serif;
}

.container {
  max-width: 375px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.blue-button {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  border-radius: 16px;
  background: #3350e9;
  border: none;
}

@media (hover: hover) {
  .blue-button:hover {
    background: #1f3cd4;
  }
}

.animate-me {
  transition: all cubic-bezier(0.45, 0.05, 0.55, 0.95) 250ms;
}

.soc-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  fill: rgba(251, 251, 251, 1);
  border-radius: 10px;
  border: 1px solid rgba(251, 251, 251, 0.1);
  opacity: 0.8;
}

.soc-icon:hover,
.soc-icon:focus {
  border-color: #fbfbfb;
  opacity: 1;
}

.new-title {
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.64px;
}

.granny-p {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.28px;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .new-title {
    font-size: 48px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.96px;
  }

  .granny-p {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.32px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 65px;
    padding-right: 65px;
  }
}
